* {
	border-radius: 0px !important;
}

.header-logo{
	padding-left: 2%;
}
.jumbotron {
	background-image: url("https://source.unsplash.com/JHMG8eWbTfs/1600x900");
	background-size: cover;
	/*background-position: center center;*/
	height: 100%;
	width: auto;
	margin-top: 0px !important;
}


.block{
	padding-bottom: 2%;
	padding-top: 12%;
	margin: 5%;
}

.block h1{
	font-family: 'Cinzel';
	color: #DB0A5B !important;
	font-weight: bolder;
}

.block h2{
	font-family: 'Arapey';
	padding: 20px;
	color: #fff;
}

.navbar {
	background-color: #663399 !important;
	margin-bottom: 0px !important;
}


.navbar-nav > li > a {
	font-size: 20px;
    padding-top: 0px !important;
    padding-bottom: 0px !important ;
    line-height: 70px !important ;
}

.footer {
		background-color: #663399 !important;
		color: #ffffff;
}

.contact {
	padding-right:5%;
	padding-left:5%;
}

.gallery {
	padding: 5%;
	background-color: #AEA8D3;

}

.how_we_work {
	padding: 5%;
	font-size: large;
}

.how_we_work p{
	font-family: 'Quattrocento';
}

.header_style{
	font-family: 'Cinzel';
	font-weight: bold;
}